## 1. Data Acquirement

## 2. Data Preprocessing

Import libs

In [1]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup

Read data

In [2]:
games = pd.read_csv("games.csv", header=0)
movies = pd.read_csv("movies.csv", header=0)

Check data info

In [3]:
games.head()

,game_name,game_comment,game_label
0,730,After years playing it I didnt improve my ski...,Recommended
1,730,I NOT CAN PLAY,Not Recommended
2,730,Your team in every random competitive gamebrbr...,Recommended
3,730,gtsee a guybrgtshoot himbrgtmiss every shotbrg...,Recommended
4,730,This community is so nice i got a lot of tips ...,Recommended

In [4]:
games.head()

,game_name,game_comment,game_label
0,730,After years playing it I didnt improve my ski...,Recommended
1,730,I NOT CAN PLAY,Not Recommended
2,730,Your team in every random competitive gamebrbr...,Recommended
3,730,gtsee a guybrgtshoot himbrgtmiss every shotbrg...,Recommended
4,730,This community is so nice i got a lot of tips ...,Recommended

Conversion type

In [5]:
def conversion(df):
    df = df.astype(str)
    return df

In [6]:
games = conversion(games)
movies = conversion(movies)

Process label

In [7]:
games.replace(['Recommended', 'Not Recommended'], ['Positive','Negative'], regex=True , inplace=True)
movies.replace(['fresh', 'rotten'], ['Positive','Negative'], regex=True , inplace=True)

Remove html

In [8]:
def remove_html(data):
    soup = BeautifulSoup(data, 'html.parser')
    return soup.get_text()

In [9]:
games['game_comment'] = games['game_comment'].apply(remove_html)
movies['movie_comment'] = movies['movie_comment'].apply(remove_html)

C:\Users\wangk\AppData\Local\Temp\ipykernel_2404\2942552489.py:2: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  soup = BeautifulSoup(data, 'html.parser')

Delete rows which have empty value

In [10]:
def remove_empty(df,col_name):
    df[col_name].replace('',np.nan,inplace=True) # replace the empty content to nan
    df.dropna(axis=0, how='any') # remove row with nan value
    return df

In [11]:
games = remove_empty(games,'game_comment')
movies = remove_empty(movies,'movie_comment')

Convert spaces to single space, Remove quotation marks, Remove the newline character, Remove br

In [12]:
def remove_special_label(df):
    df.replace(['\ +', '"','\n','\r','/br[a-z]+br/g','/b[a-z]+b/g','RT'], [' ',' ','','','','',''], regex=True , inplace=True)
    return df

In [13]:
games = remove_special_label(games)
movies = remove_special_label(movies)

In [14]:
games.iloc[209]

game_name                                                  958260
game_comment    br brAre you winning sonbrbr br br br br br br...
game_label                                               Positive
Name: 209, dtype: object